* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(41, 41, 41);
  color: rgb(236, 236, 236);
}

.main-title {
  width: fit-content;
  margin: 40px auto;
  /* background-color: red; */
}

a {
  all: unset;
}

.btn {
  padding: 10px;
  border: none;
  background-color: rgb(116, 203, 206);
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
  /* border: solid 5px rgba(236, 236, 236, 0); */
}

.btn:hover {
  /* background-color: rgb(53, 110, 91); */
  border: solid 5px rgb(190, 233, 233);
  /* color: aliceblue; */
}

.list-container {
  /* background-color: red; */
  width: fit-content;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}